

.login-wrap{
	width:100%;
    height: 100%;
	margin:auto;
	position:relative;
	background:url("../../assets/logo.svg") no-repeat center;
    /* background-color: white; */
	box-shadow:0 12px 15px 0 rgba(45, 45, 45, 0.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:relative;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}

.label,
.button{
	text-transform:uppercase;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.input{
	margin-bottom:24px;
}
.label,
.input,
.button{
	width:100%;
	color:#fff;
	display:block;
}
.input,
.button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.button{
	background:#1161ee;
}
